{
    "plugins": [
      ["module-resolver", {
        "root": ["./src"],
        "alias": {
            "entities": "./src/entities",
            "pages": "./src/pages",
            "shared": "./src/shared",
            "store": "./src/store"
        }
      }]
    ]
  }